/* Seletor Universal (Curinga) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Seletores de Classe */
.caixa {
    margin: 1rem;
    padding: 1rem;
    background-color: #fffde6;
    border: 2px solid #ff69b4;
    border-radius: 8px;
}

aside {
    position: relative; /* Necessário para ancorar o título absoluto */
    width: 300px;
    margin: 20px;
    border: 2px solid #ff69b4;
    padding: 15px;
    background-color: #fffde6;
    color: #4a3b00;
    border-radius: 8px;
}

aside h2 {
    position: absolute; /* Faz o título sobrepor a imagem */
    bottom: 20px;
    left: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 4px;
}

aside img {
    width: 200px;
    height: auto;
    border-radius: 4px;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: #fff;
    padding: 10px;
    display: block;
}

main {
    max-width: 800px;
}

h1 {
    color: #333;
}

main img {
    float: right; /* Alinha a imagem de perfil à direita do texto */
    margin-left: 1rem;
    width: 250px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}